# <font color='green'> DSA - Python Fundamentos para Análise de Dados - Cáp. 02</font>

### Download: http://github.com/dsacademybr

## Variáveis e Operadores

In [24]:
# Atribuindo o valor à variável var_teste
var_teste = 1

In [25]:
# Imprimindo o valor da variável
var_teste

1

In [26]:
# imprimindo o valor da variável, utilizando print()
print(var_teste)

1

In [27]:
# Não podemos utilizar uma variável que não foi definida. Veja a mensagem de erro.
#my_var

In [28]:
# Mudando o valor da váriavel var_teste
var_teste = 2

In [29]:
# Imprimindo var_teste com o novo valor
var_teste

2

In [30]:
type(var_teste)

int

In [31]:
var_teste = 9.5

In [32]:
type(var_teste)

float

In [33]:
x = 1

In [34]:
x

1

## Declaração Múltipla

In [35]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [36]:
pessoa1

'Maria'

In [37]:
pessoa2

'José'

In [38]:
pessoa3

'Tobias'

In [39]:
fruta1 = fruta2 = fruta3 = "Laranja"

In [40]:
fruta1

'Laranja'

In [41]:
fruta2

'Laranja'

In [42]:
fruta3

'Laranja'

## Pode se usar letras, números e underline (mas não se pode começar com números)

In [43]:
x1 = 50

In [44]:
x1

50

In [45]:
# Mensagemd e erro, pois o Python não permite nomes de variáveis que iniciem com números
#1x = 50

## Não se pode usar palavras reservadas com nome de variável

In [46]:
# Erro
#break = 1

## Variáveis atribuídas a outras variáves e ordem dos operadores

In [47]:
largura = 2

In [48]:
altura = 4

In [49]:
area = largura * altura

In [50]:
area

8

In [51]:
perimetro = 2 * largura + 2 * altura

In [52]:
perimetro

12

In [53]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2) * altura

In [54]:
perimetro

32

## Operações com Variáveis

In [55]:
idade1 = 25

In [56]:
idade2 = 35

In [57]:
idade1 + idade2

60

In [58]:
idade2 - idade1

10

In [59]:
idade2 * idade1

875

In [60]:
idade2 / idade1

1.4

In [61]:
idade2 % idade1 # resto da divisão de uma pela outra

10

## Concatenação de Variáveis

In [62]:
nome = "Steve"

In [63]:
sobrenome = "Jobs"

In [64]:
# " " -> serve para colocar um espaço em branco entre as palavras
fullname = nome + " " + sobrenome

In [65]:
fullname

'Steve Jobs'

## <font color='green'> FIM! </font>